body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
    overflow: hidden;

}

.title-bar {
    margin-top: 4rem;
}

.title-image {

    width: 40rem;
    height: 25rem;


    overflow: hidden;
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 900;
    color: aliceblue;
}

.intro1 {
    color: aliceblue;
   
}

/* navbar */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;

}

.navbar {
    padding: 0 0 4.5rem
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;
}

/* button */
.button1 {
    margin-right: 2rem;
    margin-bottom: 2rem;

}

.button2 {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.skill {
    width: 100%;
    padding-bottom: 4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.overlay {
    margin: 0%;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 0;
    background-color:#FF9494;
    overflow: hidden;
    width: 45%;
    height: 0;
    transition: .5s ease;
  }

  .img1:hover .overlay {
    height: 10%;
  }

.img1{
    position: relative;
    padding: 2rem;
    
}
.image-1:hover{
    opacity: 0.3;
}
.image-2:hover{
    opacity: 0.3;
}
.image1-3:hover{
    opacity: 0.3;
}
.image-4:hover{
    opacity: 0.3;
}
.image-5:hover{
    opacity: 0.7;
}
.image-6:hover{
    opacity: 0.3;
}
h2.projects::after {

    content: '';
    display: block;
    width: 100px;
    height: 8px;
    background:#FF9494;
    margin: 0.2em 0 1em;
}
img{
    width: 100%;
    
}
.image{
    padding-top: 3rem;
}
.image-1{
    border: solid 1px;
    height: 18rem;
}

.image-2{
    border: solid 1px;
    width: 30rem;
    height: 18rem;   
}

.image1-3{
    border: solid 1px;
    width: 27rem;
    height: 18rem;  
}
.image-4{
    border: solid 1px;
    height: 18rem;   
}
.image-5{
    border: solid 1px;
    height: 18rem;   
}
.image-6{
    border: solid 1px;
    height: 18rem;   
}
.link{
    color: aliceblue;
    padding-top: 0.5rem;
font: 0.8rem;}
#projects-section{
    padding: 1rem;
}
footer{
    text-align: center;
    margin: auto;
    padding: 1rem;
}
hr{
 
   border: dotted 15px #FF9494 ;
   border-bottom: none;
   width: 4%;
 
   margin: auto;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: white;
}
.intro2{
    color: white;
    font-size: 1rem;
    padding: 0%;
    padding-bottom: 3rem;

}
@media (max-width: 1028px) {
    .title-image {
        width: 110%;
    }

    .intro {
        font-size: 3rem;
        text-align: center;
    }

    .intro1 {
        font-size: 2.8rem;
        text-align: center;
    }
    h3{
        font-size: 4rem;
    }
  
  .container-fluid{
    height: 70rem;
  }
}